.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; //we have to add it after we added the same thing to &__side because the position: absolute killed parent's height to 0. (like float property does, but clearfix isn't available for this case).It's the only fix.


//perspective property must be done on the parent element. we add the nice look to the rotating effect
    &__side {
        height: 52rem;
        transition: all .8s ease;//makes animation softer
        position: absolute; //it made cards be as narrow as the text "FRONT/BACK" we initially used. To fix it we use width: 100% property.
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; //removed backside visibility
        border-radius: 3px;
        overflow: hidden; //used to cancel images's overlapping of the card
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
        transform: rotateY(180deg);
        
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        //same as: .card:hover .card__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover; //we did this outside --1 so it applies to all 3 images
        height: 23rem;
        // background-blend-mode: screen; //we mixed the gradient and the image
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image:   linear-gradient(
                                to right bottom,
                                rgba($color-secondary-light, .7), 
                                rgba($color-secondary-dark, .7)), 
                                url(../img/nat-5-small.jpg);

            @media only screen and  (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
            only screen and (min-width: 125em) {
                        background-image:   linear-gradient(
                                            to right bottom,
                                            rgba($color-secondary-light, 0.7), 
                                            rgba($color-secondary-dark, 0.7)), 
                                            url(../img/nat-5.jpg);
                    }
        }

        &--2 {
            background-image:   linear-gradient(
                                to right bottom,
                                rgba($color-primary-light, .7), 
                                rgba($color-primary-dark, .7)), 
                                url(../img/nat-6-small.jpg);

            @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
            only screen and (min-width: 125em) {
                        background-image:   linear-gradient(
                                            to right bottom,
                                            rgba($color-primary-light, 0.7), 
                                            rgba($color-primary-dark, 0.7)), 
                                            url(../img/nat-6.jpg);
                    }
        }

        &--3 {
            background-image:   linear-gradient(
                                to right bottom,
                                rgba($color-tertiary-light, .7), 
                                rgba($color-tertiary-dark, .7)), 
                                url(../img/nat-7-small.jpg);

            @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
            only screen and (min-width: 125em) {
                        background-image:   linear-gradient(
                                            to right bottom,
                                            rgba($color-tertiary-light, 0.7), 
                                            rgba($color-tertiary-dark, 0.7)), 
                                            url(../img/nat-7.jpg);
                    }
        }

        @supports (background-blend-mode: screen) {
            
            background-blend-mode: screen;
            
            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5-small.jpg);
    
                @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
                only screen and (min-width: 125em) {
                    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
                }
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6-small.jpg);
    
                @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
                only screen and (min-width: 125em) {
                    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
                }
            }
    
            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7-small.jpg);
    
                @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
                only screen and (min-width: 125em) {
                    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
                }
            }
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; //used to treat parts of h4 behave as separate elements. it applies all the declarations that we have in the selector (here - padding) to all of the boxes created in the element.

        &--1 { //it'not a modifier, it's a whole new element, so we don't nest it into &__heading
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light,.85), 
            rgba($color-secondary-dark,.85));
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light,.85), 
            rgba($color-primary-dark,.85));
        }
        
        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light,.85), 
            rgba($color-tertiary-dark,.85));
        }

    }
    
    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //BACK SIDE STYLING
    &__cta {
        @include center-horizontal-vertical;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // @include respond(tab-port) {

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
        //we added hover rule so that the page displays the 'book now' btn if the screen is small than this, or whenever we use device which uses touch (has no hover). Opposite way - hover: hover
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative; //we no longer have 2 sides occupying same space
            box-shadow: none;

            &--back {
            transform: rotateY(0);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        //BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    } 
}
